
@media screen and (min-width: 768px){
    .header {
        background: {
            image: url('../img/banner.png');
            size: cover;
            repeat: no-repeat;
            position: center;
        }
    height: 660px;
    text-align: center;
    }   
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .header {
            background: {
                image: url('../img/rectangle.png');
                size: cover;
                repeat: no-repeat;
                position: center;
        }
    height: 425px;
    text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .header {
            background: {
                image: url('../img/rectangle.jpg');
                size: cover;
                repeat: no-repeat;
                position: center;
        }
    height: 266px;
    text-align: center;
    }
}

.header {
    div {
        .icons-header {
            padding: 30px;
            div {
                padding: 0 40px 0 40px;
            }
        }
    }
}

.header-header {
    padding-right: 20.83%;
}

.justify-content-end {
    margin-right: 60px;
}

.signin {
    font-size: 10px;
    color: green;
    border: 2px solid green;
    border-radius: 15px;
}

.ti-gift,.ti-alarm-clock,.ti-thumb-up {
    font-size: 48px;
}

.text {
    font-size: 14px;
    line-height: 1.6rem;
    margin: 10px;
    text-align: justify;
}

$background-image: linear-gradient(to right, rgb(66,147,33), rgb(180,236,81));

.sign-now {
    width: 195px;
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    background-image: $background-image;
}

.today {
    margin: {
        top: 30px;
        bottom: 30px;
    }
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);

}

.report {
    margin: 30px 80px 30px 0;
    padding: 0 80px 0 80px;
    img {
        width: 100%;
    }
    .ti-write {
        font-size: 30px;
        text-align: center;
    }
}

.radius {
    background-image: $background-image;
    height: 302px;
    color: white;
    div{
        div {
            div {
                padding: 50px;
                div {
                    padding: 30px;
                }
            }
        }
    }
}

.number {
    border: 2px solid green;
    border-radius: 100%;
    text-align: center;
}

.number1 {
    width: 5px;
    height: 5px;
}

@mixin icons-circle {
    font-size: 36px;
}

.circle {
    height: 107px;
    width: 107px;
    border: 1.5px solid white;
    border-radius: 100px;

    .ti-bookmark-alt,.ti-write,.ti-layout-list-thumb,.ti-face-smile,.ti-calendar {
        @include icons-circle;
    }
}

.small-circle {
    height: 40px;
    width: 40px;
    border: 1.5px solid white;
    border-radius: 100px;
    margin-top: -30px;
    background-color: rgb(124,179,66);
    color: white;
}

.text1 {
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
    font-size: 14px;
}

.members {
    text-align: justify;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    div {
        div {
            div {
                margin: 10px 0 0 0;
                i {
                    color: rgb(139,195,74);
                    margin-right: 5px;
                }
                .text {
                    margin: 0;
                }
            }
        }
    }
    .ti-user {
        color: black;
    }
}

.icon {
    font-size: 30px;
    padding: {
        right: 5px;
        top: 5px;
    }
}

.icon-cus {
    margin-right: 5px;
    color: rgb(139,195,74);
    margin-top: 10px;
}

.customer {
    text-align: justify;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
    margin: 30px;
    color: black;
    div{
        margin-bottom: 10px;
        font-size: 14px;
        .ti-lock,.ti-cup,.ti-stats-up {
            color: rgb(139,195,74);
            margin: 10px;
            font-size: 18px;
        }
    }
    .ti-face-smile {
        color: black;
    }
}

.slide-cus {
    background: {
        image: url('../img/rectangle3.png');
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    height: 544px;
    text-align: center;
    color: white;
    margin-top: 30px;
    div {
        padding: 0 40px 0 40px;
        div {
            div {
                padding: 0px;
            }
        }
    }
    p {
        color: white;
    }
}

.carousel-indicators {
    li {
        padding-top: opx;
        width: 5px;
        height: 5px;
        border: solid none;
        border-radius: 100px;
        background-color: none;
    }
}

.text-icon {
    margin: 0px 200px 0px 200px;
    text-align: left;
    div {
        font-size: 18px;
        padding: 50px 5px 0px 10px;
    }
    i {
        font-size: 72px;
        color: white;
        .ti-quote-left {
            padding-right: 40px;
            padding-top: 0px;
        }
    }
    .ti-quote-right {
        padding-top: 100px;
    }
}

.project {
    margin: 30px 0px 30px 0;
    padding: 0 80px 0 80px;
    img {
        width: 100%;
    }
    .ti-calendar {
        font-size: 30px;
        text-align: center;
        margin-right: 5px;
    }
}

footer {
    background-color: rgb(57,71,78);
    text-align: center;
    color: white;
    font-size: 10px; 
    padding: 30px 80px 30px 80px;     
    .text-footer {
        color: rgb(139,195,74);
        font-size: 14px;
    }
}
